body {
  position: relative;
  .cute-sunny {
    position: absolute;
    top: 6vw;
    left: 6vw;
  }
  .box {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
  }
  .footer {
    position: absolute;
    bottom: 2vh;
  }
}